/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

#content {
	width: 960px;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	font-size: 0.75em;
}

#inner-footer {
	.copyright {
		margin-left: 12.5%;
		margin-top: 3em;
	}
}

#footer-logo {
	margin-right: 7.25%;
}