/*********************
HEADER STYLES
*********************/

.header {}
	
	#inner-header {
		border-bottom: 12px solid #0060a7;
		height: 136px;
		width: 100%;
	}
	#header-float-block {
		margin-right: 4%;
	}
	#logo {
		margin-left: 12.5%;
	}


/*********************
NAVIGATION STYLES
*********************/	

/*********************
FOOTER STYLES
*********************/

#inner-footer {
	.copyright {
		margin-left: 12.5%;
		margin-top: 3em;
	}
}

#footer-logo {
	margin-right: 7.25%;
}