/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	#main, #main2 {
		margin-right: 0px;
		padding-right: 0px;
		max-width: 730px;
		border-bottom: none;
	}
	#main { float: left; }
	#main2 { float: right; }
}

.category-container, .item-container {
	border-left: 2px solid #b9c7d4;
	float: right;
	margin-left: 0px;
	
	padding-left: 0px;
}

.page-list-container {
	border-right: 1px solid #b9c7d4;
	float: left;
	margin-right: 0px;
	max-width: 730px;
	padding-right: 0px;
}

.item-container{
	padding-left: 15px;
}

/*********************
SIDEBARS & ASIDES
*********************/
#sidebar1 {
	float: right;
	margin-left: 0px;
	margin-right: 7px;
	
	padding-left: 0px;
}
#sidebar2 {
	float: left;
}
#sidebar1, #sidebar2 {
	margin-top: 30px;
	width: 200px;
}
.sidebar-list {
	border-bottom: 1px solid #b9c7d4;
}
.sidebar-list, .sidebar-products {
	margin-bottom: 20px;
	margin-right: 0;
	width: 200px;
}

/*********************
FOOTER STYLES
*********************/
